In [1]:
# Loading Google Drive so we can import csv file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [3]:
# Reading csv file
path="/content/drive/MyDrive/DMFinalProject/AvgInterestRate_20010131_20231031.csv"
InterestRates = pd.read_csv(path)

In [4]:
# Inspection
InterestRates.head()

,Record Date,Security Type Description,Security Description,Average Interest Rate Amount,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
0,2023-10-31,Marketable,Treasury Bills,5.437,1,2024,1,2023,4,10,31
1,2023-10-31,Marketable,Treasury Notes,2.190,2,2024,1,2023,4,10,31
2,2023-10-31,Marketable,Treasury Bonds,3.070,3,2024,1,2023,4,10,31
3,2023-10-31,Marketable,Treasury Inflation-Protected Securities (TIPS),0.613,4,2024,1,2023,4,10,31
4,2023-10-31,Marketable,Treasury Floating Rate Notes (FRN),5.430,5,2024,1,2023,4,10,31

In [5]:
# Inspection
InterestRates.tail()

,Record Date,Security Type Description,Security Description,Average Interest Rate Amount,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
4431,2001-01-31,Non-marketable,United States Savings Securities,6.224,12,2001,2,2001,1,1,31
4432,2001-01-31,Non-marketable,Government Account Series,6.650,13,2001,2,2001,1,1,31
4433,2001-01-31,Non-marketable,Total Non-marketable,6.567,14,2001,2,2001,1,1,31
4434,2001-01-31,Interest-bearing Debt,Total Interest-bearing Debt,6.594,15,2001,2,2001,1,1,31
4435,2001-01-31,Marketable,Treasury Bills,6.059,1,2001,2,2001,1,1,31

In [6]:
# Inspection
InterestRates.info

<bound method DataFrame.info of      Record Date Security Type Description  \
0     2023-10-31                Marketable
1     2023-10-31                Marketable
2     2023-10-31                Marketable
3     2023-10-31                Marketable
4     2023-10-31                Marketable
...          ...                       ...
4431  2001-01-31            Non-marketable
4432  2001-01-31            Non-marketable
4433  2001-01-31            Non-marketable
4434  2001-01-31     Interest-bearing Debt
4435  2001-01-31                Marketable

                                Security Description  \
0                                     Treasury Bills
1                                     Treasury Notes
2                                     Treasury Bonds
3     Treasury Inflation-Protected Securities (TIPS)
4                 Treasury Floating Rate Notes (FRN)
...                                              ...
4431                United States Savings Securities
4432                       Government Account Series
4433                            Total Non-marketable
4434                     Total Interest-bearing Debt
4435                                  Treasury Bills

      Average Interest Rate Amount  Source Line Number  Fiscal Year  \
0                            5.437                   1         2024
1                            2.190                   2         2024
2                            3.070                   3         2024
3                            0.613                   4         2024
4                            5.430                   5         2024
...                            ...                 ...          ...
4431                         6.224                  12         2001
4432                         6.650                  13         2001
4433                         6.567                  14         2001
4434                         6.594                  15         2001
4435                         6.059                   1         2001

      Fiscal Quarter Number  Calendar Year  Calendar Quarter Number  \
0                         1           2023                        4
1                         1           2023                        4
2                         1           2023                        4
3                         1           2023                        4
4                         1           2023                        4
...                     ...            ...                      ...
4431                      2           2001                        1
4432                      2           2001                        1
4433                      2           2001                        1
4434                      2           2001                        1
4435                      2           2001                        1

      Calendar Month Number  Calendar Day Number
0                        10                   31
1                        10                   31
2                        10                   31
3                        10                   31
4                        10                   31
...                     ...                  ...
4431                      1                   31
4432                      1                   31
4433                      1                   31
4434                      1                   31
4435                      1                   31

[4436 rows x 11 columns]>

In [7]:
# All cloumns will be maintained, no duplicates were noted, row count remained unchanged
InterestRates = InterestRates.drop_duplicates()
InterestRates

,Record Date,Security Type Description,Security Description,Average Interest Rate Amount,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
0,2023-10-31,Marketable,Treasury Bills,5.437,1,2024,1,2023,4,10,31
1,2023-10-31,Marketable,Treasury Notes,2.190,2,2024,1,2023,4,10,31
2,2023-10-31,Marketable,Treasury Bonds,3.070,3,2024,1,2023,4,10,31
3,2023-10-31,Marketable,Treasury Inflation-Protected Securities (TIPS),0.613,4,2024,1,2023,4,10,31
4,2023-10-31,Marketable,Treasury Floating Rate Notes (FRN),5.430,5,2024,1,2023,4,10,31
...,...,...,...,...,...,...,...,...,...,...,...
4431,2001-01-31,Non-marketable,United States Savings Securities,6.224,12,2001,2,2001,1,1,31
4432,2001-01-31,Non-marketable,Government Account Series,6.650,13,2001,2,2001,1,1,31
4433,2001-01-31,Non-marketable,Total Non-marketable,6.567,14,2001,2,2001,1,1,31
4434,2001-01-31,Interest-bearing Debt,Total Interest-bearing Debt,6.594,15,2001,2,2001,1,1,31
4435,2001-01-31,Marketable,Treasury Bills,6.059,1,2001,2,2001,1,1,31

In [8]:
# Assessing for null values
InterestRates.isnull().any()
InterestRates.isnull().sum()

Record Date                      0
Security Type Description        0
Security Description             0
Average Interest Rate Amount    28
Source Line Number               0
Fiscal Year                      0
Fiscal Quarter Number            0
Calendar Year                    0
Calendar Quarter Number          0
Calendar Month Number            0
Calendar Day Number              0
dtype: int64

In [10]:
# Displaying only the null values for further inspection
InterestRates[InterestRates.isna().any(axis=1)]

,Record Date,Security Type Description,Security Description,Average Interest Rate Amount,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
3506,2005-11-30,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2006,1,2005,4,11,30
3507,2005-11-30,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2006,1,2005,4,11,30
3523,2005-10-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2006,1,2005,4,10,31
3524,2005-10-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2006,1,2005,4,10,31
3540,2005-09-30,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,4,2005,3,9,30
3541,2005-09-30,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,4,2005,3,9,30
3557,2005-08-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,4,2005,3,8,31
3558,2005-08-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,4,2005,3,8,31
3574,2005-07-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,4,2005,3,7,31
3575,2005-07-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,4,2005,3,7,31
3591,2005-06-30,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,3,2005,2,6,30
3592,2005-06-30,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,3,2005,2,6,30
3608,2005-05-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,3,2005,2,5,31
3609,2005-05-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,3,2005,2,5,31
3625,2005-04-30,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,3,2005,2,4,30
3626,2005-04-30,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,3,2005,2,4,30
3642,2005-03-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,2,2005,1,3,31
3643,2005-03-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,2,2005,1,3,31
3659,2005-02-28,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,2,2005,1,2,28
3660,2005-02-28,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,2,2005,1,2,28
3676,2005-01-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,2,2005,1,1,31
3677,2005-01-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,2,2005,1,1,31
3693,2004-12-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,1,2004,4,12,31
3694,2004-12-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,1,2004,4,12,31
3708,2004-11-30,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,1,2004,4,11,30
3709,2004-11-30,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,1,2004,4,11,30
3725,2004-10-31,Marketable,Treasury Inflation-Indexed Notes,NaN,4,2005,1,2004,4,10,31
3726,2004-10-31,Marketable,Treasury Inflation-Indexed Bonds,NaN,5,2005,1,2004,4,10,31

In [11]:
# Pandas innately knows how to work with NA values, but able to remove or fill if needed
# InterestRates = InterestRates.fillna()
# InterestRates = InterestRates.dropna(subset="Average Interest Rate Amount", inplace=True)
# Used to reset the index if dropping na, drop=True drops the index cloumn and allows reset_index to reset
# InterestRates.reset_index(drop=True)

In [12]:
# Assessing data types. Object pandas data type is equivalent to string
InterestRates.dtypes

Record Date                      object
Security Type Description        object
Security Description             object
Average Interest Rate Amount    float64
Source Line Number                int64
Fiscal Year                       int64
Fiscal Quarter Number             int64
Calendar Year                     int64
Calendar Quarter Number           int64
Calendar Month Number             int64
Calendar Day Number               int64
dtype: object